POSTGRES_DB__HOST=db
POSTGRES_DB__PORT=5432
POSTGRES_DB__DATABASE=luna_service
POSTGRES_DB__USERNAME=user
POSTGRES_DB__PASSWORD=password

RABBITMQ__HOST=rabbitmq
RABBITMQ__PORT=5672
RABBITMQ__USERNAME=guest
RABBITMQ__PASSWORD=guest

API_KEY=your-secret-api-key
